/* This is where the css code goes */

* {
    background: #EDEEF2;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 360px;
    min-width: 800px;
}