/* This is where the css code goes */

* {
    background: #EDEEF2;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 360px;
    min-width: 800px;
}


/* Buttons */

.large_button {
    display: flex;
    width: 250.663px;
    height: 79px;
    padding: 23px 25px;
    justify-content: center;
    align-items: center;
    gap: 29px; 
    border-radius: 40px;
    background: #EDEEF2;
    box-shadow: -4px -4px 8px 0px #FFF, 4px 4px 8px 0px #BEBEBE;
}

.large_button_text {
    color: #575F6B;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 152.401px;
    flex-shrink: 0;
}

.med_button {
    width: 194px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(149, 117, 205, 0.56);
}


/* Text */

.title {
    width: 269px;
    height: 20px;
    flex-shrink: 0;
    color: #575F6B;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
}